* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(180deg, #3F1C3B 0%, #151315 76.28%);
    min-height: 100vh;
    padding: 1em 5em;
    border: 1px solid black;
    color: #CEB2A5;

}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.header-links {
    flex-basis: 30%;
}

section {
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

section.nf10x__hero {
    background-image: url('./assets/nf10x-logo.svg');
    background-size: 25em;
    background-repeat: no-repeat;
    background-position: top;
    text-align: center;
}

section.nf10x__hero h1 {
    font-size: 3em;
    color: #fff;
    text-transform: uppercase;
}